[submodule "MicroHs"]
	path = MicroHs
	url = https://github.com/hamsterlabz/MicroHs.git
[submodule "rvfun-benchmarks"]
	path = rvfun-benchmarks
	url = https://github.com/hamsterlabz/rvfun-benchmarks.git
[submodule "bmkernel"]
	path = bmkernel
	url = https://github.com/hamsterlabz/bmkernel.git
